<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
    <center>
    <form action="{% url 'calculate' %}" method="post">
        {% csrf_token %}
        <h1>CALCULATOR</h1>
        <label>FIRST NUMBER:</label>
        <input type="number",name='number1'><br><br>
        <label>SECOND NUMBER:</label>
        <input type="number",name='number2'><br><br>
        <label>SELECT OPERATOR:</label>
        <select name="opr">
            <option value="+">addition</option>
            <option value="-">subtraction</option>
            <option value="*">multiplication</option>
            <option value="/">division</option>
        </select><br><br>
        <button type="submit">SUBMIT</button><br><br>
        <label>RESULT:</label>
        <input type="number" value="result">
    </form>
    </center>
</body>
</html>