h1 {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 50px;

}
a {
    text-decoration: none;
    color:green;
    margin-left: 25px;
    font-size: 25px;
}
 img {
    margin-top: 50px;
 }