<<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kozhikode</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style1.css' %}">
</head>
<body class="img1">
    <h1>ERANAKULAM</h1>
    <p>
        Ernakulam (Malayalam: [erɐɳɐːkuɭɐm] (listen)) is the Central Business District of the city of Kochi in Kerala, India and has lent its name to the Ernakulam district.[1] Many major establishments, including the Kerala High Court, the office of the Kochi Municipal Corporation and the Cochin Shipyard are situated here.

        The region can claim to have played a significant part in fostering the trade relations between Kerala and the outside world in the ancient and medieval period.[2] The early political history of Ernakulam is interlinked with that of the Chera Dynasty of the Sangam age, who ruled over vast portions of Kerala and Tamil Nadu. After the Cheras, the place was later ruled by the Kingdom of Cochin (Perumpadapu Swaroopam).[3]

        Although under British suzerainty, specifically the East India Company, since the Anglo-Dutch Treaty of 1814,[4] Rama Varma XII of the Kingdom of Cochin, about 1840, moved their capital from Mattancherry to Tripunithura.[5] Fort Cochin Municipality was established in 1866 under the Madras Town Improvement Act of 1865, and municipal elections were first held in 1883.[5] Ernakulam became a municipality in 1910.[5] In the first state census of 1911, the population of Ernakulam was 21,901; 11,197 Hindus, 9,357 Christians, 935 Muslims, and 412 Jews.[6]
    </p>
    <a href="{% url 'home' %}">HOME</a>
</body>
</html>


