<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kozhikode</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style1.css' %}">
</head>
<body class="img1">
    <h1>THRISSUR</h1>
    <p>
        Thrissur (Malayalam: [t̪r̥iʃːuːr] (listen)), formerly Trichur, also known by its historical name Thrissivaperur, is a city and the headquarters of the Thrissur district in Kerala, India. It is the third largest urban agglomeration in Kerala after Kochi and Kozhikode, and the 21st largest in India.[3][4] The city is built around a 65-acre (26 ha) hillock called the Thekkinkaadu Maidaanam which seats a large Hindu Shiva Temple. It is located central of the state, and 304 kilometres (189 mi) north-west of the state's capital city, Thiruvananthapuram. Thrissur was once the capital of the Kingdom of Cochin, and was a point of contact for the Assyrians, Greeks, Persians, Arabs, Romans, Portuguese, Dutch and English.

Thrissur is also known as the Cultural Capital of Kerala because of its cultural, spiritual and religious leanings throughout history.[5] The city centre contains the Kerala Sangeetha Nadaka Academy, Kerala Lalithakala Akademi and Kerala Sahitya Academy.[6] The city hosts the Thrissur Pooram festival, the most colourful and spectacular temple festival in Kerala.[7][8] The festival is held at the Thekkinkadu Maidan in April or May, in the Malayalam month 'medam'.[5]
    </p>
    <a href="{% url 'home' %}">HOME</a>
</body>
</html>


